body {
    margin: 0 auto;
}

.compra_tu {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 0.75em;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #C21F3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.compra_tu p {
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.compra_tu a {
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.navigation {
    width: 100%;
    max-width: 1200px;
    /* Establece un ancho máximo para evitar que crezca demasiado en pantallas grandes */
    height: auto;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    /* Centra el contenido en pantallas más grandes */
}

.navigation .menu_nav {
    display: flex;
    text-align: left;
}

.navigation .menu_nav div {
    color: #C21F3D;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    padding: 10px;
    margin: 0 5px;
}

.navigation img {
    width: 102px;
}

.navigation .btn {
    text-align: center;
    color: #C21F3D;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    border: 2px solid #C21F3D;
    width: 150px;
    height: 50px;
    line-height: 50px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .navigation .menu_nav {
        margin: 10px 0;
    }

    .navigation .btn {
        margin-top: 10px;
    }
}

/*.video-container {
    position: relative;
    width: 640px;
    height: 560px;
    }
    
    .background-video {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }*/
.imgPortada {
    background: url('img/pacha-barcelona.jpg') no-repeat 50% / cover, lightgray;
    width: 100%;
    height: 50vh;
    /* Usando unidades relativas al viewport height */
    flex-shrink: 0;
}

.sub-page {
    background: #FFF;
    width: 100%;
    height: 30vh;
    /* Ajusta según sea necesario */
    flex-shrink: 0;
}

.imgS1 {
    width: 750px;
    height: 440px;
    flex-shrink: 0;
}

.textS1 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    width: 686px;
    height: 72px;

}